

.chat-page {
    padding: 0 0 50px 0;
}

.chats {
    padding: 30px 15px 0 25px;
}

.msg-page {
    max-height: 500px;
    
}

.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 100%;
    border: solid pink 1px;
    margin-bottom: 10px;
}

.received-chats-name {
    display: inline-block;
    width: 100%;
}

.username {
    font-size: 10px;
}

.deleteMessage {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
}

.time {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.blurry {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.received-msg-inbox p {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin-left: 1rem;
    padding: 1rem;
    width: 50%;
    box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
}

p {
    overflow-wrap: break-word;
}


