.formContainer {
    display: flex;
    flex-direction: column;
    width: 12em;
    margin: 0 auto;
}

.formContainer > label:nth-child(n) {
    margin-top: 3px;
    margin-bottom: 3px;
}
.formContainer > input:nth-child(n) {
    margin-top: 3px;
    margin-bottom: 3px;
}

.signUpButton {
    width: 5em;
    margin-left: 95px;
    margin-top: 5px;
}

/* Error and Success messages */
.successDiv {
    display: none;
    justify-content: center;
    margin-bottom: 15px;
    color: green;
}

.errorDiv {
    display: none; 
    justify-content: center;
    margin-bottom: 15px;
    color: red;
}

.successDivShown {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    color: green;
}

.errorDivShown {
    display: flex; 
    justify-content: center;
    margin-bottom: 15px;
    color: red;
}

/* Error and Success messages */
.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 150px;
}
.loginButton {
   
    
}

.homeButton {
  
   
}