.signUpFormContainer {
    display: flex;
    flex-direction: column;
    width: 12em;
    margin: 0 auto;
}

.signUpFormContainer > label:nth-child(n) {
    margin-top: 3px;
    margin-bottom: 3px;
}

.signUpFormContainer > input:nth-child(n) {
    margin-top: 3px;
    margin-bottom: 3px;
}

.buttonContainer {
    display: flex;
    margin-top: 10px;

}
.signUpButton {
    margin-left: auto;
}

.adminPasswordField {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
}

